@charset "UTF-8";


body{
	background-size: contain;
	width:100%;
	height:800px;
	margin: 0 0 0 0;
	background-color: #eeece9;
}

/*全体を中央寄せ*/
.wrapper {
	margin: 0 auto;
}


table {
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
	width: 60%;
}

/*テーブルの要素を中央寄せ*/
.fhead,.tab,.back,.top,.icon {
	text-align: center;
}
td.selecting {
	background-color: #ffd700;
}
.check {
	position: absolute;
	right: 100px;
	top: 50px;
}
.fhead, .tab, .empty {
	height: 50px;
}
.fhead, .tab, .empty {
	height: 50px;
}
td.empty{
	background-color: #f5f5f5;
}
tr.menu{
	background-color: #f5f5f5;
	height: 120px;
}
th.fhead {
	background-color: white;
}
.unselecting {
	background-color: white;
}
.data {
	background-color: white;
}
.data {
	position: relative;
}
.tab td:hover {
    background-color: #dcdcdc;
}
.data:hover {
    background-color: #dcdcdc;
}
.tab td a {
	display: block;
}
.data td a {
	display: block;
	height: 100px;
}
.emp {
	border-right: none;
	border-left: none;
}
.back {
	border-right: none;
}
.top {
	border-left: none;
}
.icon img {
	vertical-align: middle;
	width: 100px;
	height: 100px;
}
.uname {
	text-align: center;
	font-size: 100%;
}
.back img,.top img{
	vertical-align: middle;
	width: 120px;
	height: 120px;
}
.check {
  display: none; /* デフォルトのチェックボックスを非表示 */
  background-image: url("./img/icon_trash.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 30px;
  position: relative;
  width: 30px;
}