@charset "UTF-8";

body{
	background-size: contain;
	width:100%;
	height:800px;
	margin: 0 0 0 0;
	background-color: #eeece9;
}

/*全体を中央寄せ*/
.wrapper {
	margin: 0 auto 0 auto;
}


table {
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
	width: 60%;
}

/*テーブルの要素を中央寄せ*/
.fhead,.tab,.back,.top {
	text-align: center;
}
td.selecting {
	background-color: #ff6347;
}
.check {
	position: absolute;
	right: 100px;
	top: 50px;
}
.fhead, .tab, .empty {
	height: 50px;
}
td.empty{
	background-color: #c0c0c0;
}
tr.menu{
	background-color: #c0c0c0;
	height: 120px;
}
th.fhead {
	background-color: white;
}
.unselecting {
	background-color: white;
}
.data {
	background-color: white;
}
.data {
	position: relative;
	padding: max;
	height: 100px;
}
.tab td:hover {
    background: gray;
}
.data:hover {
    background: gray;
}
.tab td a {
	display: block;
}
.data td a {
	display: block;
	height: 50px;
}
.emp {
	border-right: none;
	border-left: none;
}
.back {
	border-right: none;
}
.top {
	border-left: none;
}
.icon {
}
p {
	display: inline-block;
	width: 33%;
	height: 50px;
	vertical-align: text-top;
}
.back img,.top img{
	vertical-align: middle;
	width: 120px;
	height: 120px;
}
.check input {
  display: none; /* デフォルトのチェックボックスを非表示 */
}
.check input :before {
  background-image: url("/dokogacha/img/icon_trash.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 30px;
  position: relative;
  width: 30px;
}