@charset "UTF-8";
body{
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center center;
	background-image: url(/dokogacha/img/template_gacha.png);
	width:100%;
	height:800px;
	margin: 0 0 0 0;
	background-color: #eeece9;
}
.wapper{
  margin: 0 auto;
  width: 580px ; /*580px*/
}
.div_username{
	position:relative;
	top:5px;
	margin-left:50px
}
.div_password{
	position:relative;
	top:30px;
	margin-left:50px;
}
.h1_login{
	position:relative;
	bottom:10px;
	margin-left:15px;
	font-size:2.5em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #FFF;
	text-shadow:
		0 0 0.05em #F06292,
		0 0 0.10em #F06292,
		0 0 0.15em #F06292,
		0 0 0.30em #F06292;
	filter: saturate(80%);
}
.text_username{
	position:relative;
	bottom:30px;
	width:300px;
	font-size:120%;
}
.password_password{
	position:relative;
	bottom:30px;
	width:300px;
	font-size:120%;
}
.submit_login{
	width:140px;
	position:relative;
	top:100px;
	left:55px;
}
.img_regist{
	width:110px;
	top:40px;
	left:200px;

}
.img_username{
	width:100px;
	top:20px;
}
.img_password{
	width:100px;
}
.img_panda{
	width:170px;
	position:relative;
	bottom:70px;
	margin-left:330px;
}
#error_message{
	color:red;
	position:relative;
	top:260px;
	margin-left:200px;
}

.btn img {
	position: absolute;
	top: 640px;
	left: 323px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 140px;
	display: block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.btn:hover img:nth-of-type(1) {
	opacity: 0;
}