@charset "UTF-8";

body{
	background-repeat: no-repeat,repeat;
	background-size: contain, 300px;
	background-position:center center;
	background-image:url(/dokogacha/img/template_gacha.png),url(/dokogacha/img/haikei.png);
	width:100%;
	height:800px;
	margin: 0 0 0 0;
	background-color: #eeece9;
}
.wapper{
  margin: 0 auto;
  width: 580px ; /*580px*/
}
.cap_success{
	position:relative;
	bottom:-250px;
	width:150px;
	left:90px;
}
.btn{
	position:relative;
	bottom:200px;
	width:115px;
	left:85px;
}
.btn img {
	position: absolute;
	top: 650px;
	left:37.8%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.btn:hover img:nth-of-type(2) {
	opacity: 0;
}
.button_login{
	width:180px
}
.button_login2{
	width:150px
}
.cap_panda{
	width:100px;
	position:relative;
	bottom:-430px;
	left:300px;
}
.comment_logout{
	position:relative;
	bottom:-150px;
	width:300px;
	left:100px;
}

.goodbye{
	position:relative;
	left:350px;
	bottom:-200px;
	font-size:2em;
	font-weight:bold;
	color: #FFF;
	text-shadow:
		0 0 0.05em #F06292,
		0 0 0.10em #F06292,
		0 0 0.15em #F06292,
		0 0 0.30em #F06292;
	filter: saturate(80%);
}