@charset "UTF-8";
body{
	background-size: contain;
	width:100%;
	height:800px;
	margin: 0 0 0 0;
	background-color: #eeece9;
}

/*全体をno中央寄せ*/
.wrapper {
	margin: 0 auto;
}

table {
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
	width: 60%;
}

/*テーブルの要素を中央寄せ*/
.fhead,.tab,.back,.top,.icon {
	text-align: center;
}
td.selecting {
	background-color: #ffd700;
}

.slide td{
    white-space: nowrap;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #FFF;
    padding: 5px;
}
.slide th{
    white-space: nowrap;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #f2f2f2;
    position: sticky;
    top: 0;
    left: 0;
}
.slide tr:first-child th{
    border-top: 1px solid #999;
}
.slide th:first-child{
    border-left: 1px solid #999;
}
.slide tr:first-child th:first-child{
    z-index: 1;
}

.check {
	position: absolute;
	top: 45%;
    left: 83%;
}
.fhead, .tab, .empty {
	height: 50px;
}
td.empty{
	background-color: #f5f5f5;
}
tr.menu{
	background-color: #f5f5f5;
	height: 120px;
}
th.fhead {
	background-color: white;
}
.unselecting {
	background-color: white;
}
.data {
	background-color: white;
}
.data {
	position: relative;
}

.data:hover {
    background-color: #dcdcdc;
}
.tab td a {
	display: block;
}
.data td a {
	display: block;

}
.emp {
	border-right: none;
	border-left: none;
}
.back {
	border-right: none;
}
.top {
	border-left: none;
}
.icon img{
	vertical-align: middle;
	width: 120px;
	height: 120px;
}

.top{
	text-align: left;

}
.middle{
	text-align: center;

}
.bottom{
	text-align: right;
}


.opback {
		width: 9%;
	position: absolute;
    left: 245px;
    top:400px;
}
.capback{
	width: 10%;
	position: absolute;
    left: 245px;
    top:400px;
}
.opcap1 img {
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.opcap1:hover img:nth-of-type(2) {
	opacity: 0;
}

.optop {
		width: 9%;
	position: absolute;
    left: 735px;
       top:400px;
}
.captop{
	width: 10%;
	position: absolute;
    left: 735px;
       top:400px;
}
.opcap2 img {
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.opcap2:hover img:nth-of-type(2) {
	opacity: 0;
}