@charset "UTF-8";

html{
	font-family: Meiryo;
}
html *{
  box-sizing: border-box;
}
body{
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center center;
	background-image: url(../img/template_gacha.png);
	width:100%;
	height:800px;
	margin: 0 0 0 0;
	background-color: #eeece9;
}
.wapper{
  margin: 0 auto;
  max-width: 580px; /*580px*/
}
.capsule_logout{
	position: relative;
	left :450px;
}
.capsule_logout img{
	width:17.5%;
}
.header {
	text-align: center;
	position: relative;
	bottom: 10px; /*変更120px→0*/
}
.nav li {
	display: inline;
	font-size: 30px;
	list-style-type: none;
	padding-right: 30px;
}
.menu a{
	color: #ffd700;
	text-decoration: none;
}

/* main ------------------------*/
/*-----user_inf1-----*/
.user_inf1{
	display: flex;
	justify-content:center;
	font-size: 30px;
}

.user_image	img{
	margin-right: 30px;
	width :150px;
	height:150px;
}
.user_name_title{
	margin: auto 0;
}

.user_name_title a{
	color: ブラック;
	text-decoration: none;
}
.user_name_title img{
	width:60px;
}
/*-----user_inf2-----*/
.user_inf2{
	display: flex;
	position:relative;
	bottom:10px;
	justify-content:center;
	font-size: 30px;
}
.total_good1{
	position:relative;
	right:18px;
}
.Favorite_Genre1{
	position:relative;
	left:20px;
}
/*-----user_inf2-----*/
.user_inf2-2{
	display: flex;
	justify-content:center;
	font-size: 30px;
	position:relative;
	bottom:10px;
}
.total_good2{
	display: flex;
	justify-content:center;
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
	width : 6em;
	height: 1.5em;
}
.Favorite_Genre2{
	display: flex;
	justify-content:center;
	font-size:80%;
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
	position:relative;
	left  : 25px;
	width:300px;
	height:120px;
	overflow: auto;/* はみ出した場合は、スクロールバーを表示する */
}

.user_inf3{
	display: flex;
	margin: 10px auto 0 auto;
	position:relative;
	bottom:10px;
}
.do_change{
	position:relative;
	top : 40px;
	left: 40px;
}


.do_change img{
	width:60%;
}

.review{
	position:relative;
	top : 20px;
	left: 60px;
}

.review img{
	width:50%;
}

.new_review {
	width :15em;
	display: flex;
	justify-content:center;
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
	position:relative;
	bottom: 150px;
	right : 50px;
}
.review_list{
	display: flex;
	justify-content:center;
	position:relative;
	bottom: 150px;
	right : 70px;
}
/*--------------------------------*/

