@charset "UTF-8";

body{
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center;
	background-image: url(/dokogacha/img/template_gacha.png);
	width:100%;
	height:780px;
	margin: 0 0 0 0;
	background-color: #eeece9;
}
.wapper{
  margin: 0 auto;
  width: 580px ; /*580px*/
}
.div_username{
	position:relative;
	top:50px;
	left:80px;
}
.div_password{
	position:relative;
	top:75px;
	left:80px;
}
.h1_regist{
	position:relative;
	bottom:-100px;
	margin-left:15px;
	font-size:2.5em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #FFF;
	text-shadow:
		0 0 0.05em #F06292,
		0 0 0.10em #F06292,
		0 0 0.15em #F06292,
		0 0 0.30em #F06292;
	filter: saturate(80%);
}
.text_username{
	position:relative;
	bottom:50px;
	width:300px;
	font-size:120%;
}
.password_password{
	position:relative;
	bottom:50px;
	width:300px;
	font-size:120%;
}
.submit_regist{
	width:140px;
	position:relative;
	top:180px;
	left:60px;
}
.img_username{
	width:100px;
	margin-top:30px;
}
.img_password{
	width:100px;
}
#error_message{
	color:red;
	position:relative;
	top:380px;
	margin-left:200px;
}
