@charset "UTF-8";

html{
	font-family: Meiryo;
}
body{
	background-repeat: no-repeat,repeat;
	background-size: contain, 300px;
	background-position:center center;
	background-image: url(/dokogacha/img/template_gacha.png),url(/dokogacha/img/haikei.png);
	width:100%;
	height:800px;
	margin: 0 0 0 0;
	background-color: #eeece9;
}
.wapper{
  margin: 0 auto;
  width: 580px ; /*580px*/
}
.cap_comp {
	position:relative;
	bottom:-280px;
	width:150px;
	left:40px;
}
.comment_post{
	width:330px;
	position:relative;
	bottom:-180px;
	left:60px
}
.btn{
	position:relative;
}
.btn img {
	position: absolute;
	top: 450px;
	left:130px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.btn:hover img:nth-of-type(2) {
	opacity: 0;
}
.button_top{
	width:25%
}
.button_top2{
	width:25%
}