@charset "UTF-8";
html{
	font-family: Meiryo;
}

body{
	background-repeat: no-repeat,repeat;
	background-size: contain, 300px;
	background-position:center center;
	background-image: url(/dokogacha/img/template_gacha.png),url(/dokogacha/img/haikei.png);
	width:100%;
	height:800px;
	margin: 0 0 0 0;
	background-color: #eeece9;
}

.wrapper{
     max-width:100% ;
     margin: 0 auto;
     width: 580px ; /*580px*/
}

header nav{
	text-align: center;
	position: relative;
	top: 120px;
}

.nav li {
	display: inline;
	font-size: 30px;
	list-style-type: none;
	padding-right: 30px;
}
.nav a{
	color: #ffd700;
	text-decoration: none;
}

.capsule_genre img{
	width: 15%;
	height:6%;
}
.capsule_word img{
	width: 15%;
	height: 6%;

}
.capsule_address img{
	width: 15%;
	height: 6%;

}
form{
	position:relative;
	top:130px;
	left:110px;
}

select{
	position:relative;
	bottom:45px;
	left:30px;
	font-size:120%;
}
input{
	position:relative;
	bottom:45px;
	left:30px;
	font-size:120%;

}
.submit_search{
	width:300px;
	position:relative;
	top:100px;
	left:40px;
}
.btn input {
	position: absolute;
	top: 450px;
	left:17px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 25%;
	display: block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.btn:hover input:nth-of-type(2) {
	opacity: 0;
}
.opcap{
	position:relative;
	bottom:350px;
	left:40px;
}
.opcap img {
	position: absolute;
	top: 10px;
	left: 450px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.opcap:hover img:nth-of-type(2) {
	opacity: 0;
}
.opcapsule_logout{
	width:15%;

}
.capsule_logout{
	width: 18%;

}