@charset "UTF-8";
html{
	font-family: Meiryo;
}

body{
	margin: 0 0 0 0;
	background-color: #eeece9;
}

h1 {
    padding: 0.5em 1em;
    font-weight: bold;
    color: black;
    background: #FFF;
    border: solid 3px orange;
    border-radius: 10px;
		text-align: center;
    margin: 0 auto 0 auto;
}
h2 {
    padding: 0.5em 1em;
    font-weight: bold;
    color: black;
    background: #ffb6c1;
    border: solid 3px black;
		text-align: center;
    margin: 0 auto 0 auto;
}
.review {
			position: relative;
			top:30px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			table-layout: fixed;
			width: 80%;

		}

.review {
		border-collapse: collapse;
}
.photo {
	padding: 8px;
	border: 3px solid #bec2c7;
}
.nakami{
	padding: 8px;
	border: 3px solid #bec2c7;
}


.photo img{
	width: 20%;
	height: 10%;

}
.top{
	text-align: left;

}
.middle{
	text-align: center;

}
.bottom{
	text-align: right;
}
.back img {
	position: absolute;
	top: 1000px;
	left: 350px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.back:hover img:nth-of-type(2) {
	opacity: 0;
}

.cap_back{
	width: 10%;

}
.opcap_back{
	width: 9%;
}


.totop img {
	position: absolute;
	top: 1000px;
	left: 1000px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.totop:hover img:nth-of-type(2) {
	opacity: 0;
}
.opcapsule_top{
	width: 9%;
}
.capsule_top{
	width: 10%;
}